<div id="<%= dom_id student %>">
  <div class="student-info">
    <p>
      <strong>Name:</strong>
      <%= student.name %>
    </p>

    <p>
      <strong>Father Name:</strong>
      <%= student.father_name %>
    </p>

    <p>
      <strong>Mother Name:</strong>
      <%= student.mother_name %>
    </p>

    <p>
      <strong>Date of Birth:</strong>
      <%= student.dob %>
    </p>

    <p>
      <strong>School ID:</strong>
      <%= student.school_id %>
    </p>

    <p>
      <strong>Aadhar Number:</strong>
      <%= student.aadhar_number %>
    </p>

    <p>
      <strong>Samagra ID:</strong>
      <%= student.samagra_id %>
    </p>

    <p>
      <strong>Mobile Number:</strong>
      <%= student.mobile_number %>
    </p>

    <p>
      <strong>Bank Account Number:</strong>
      <%= student.bank_account_number %>
    </p>
  </div>
</div>
